<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Dashboard</title>
</head>

<body>
    <header class="dashboard-header">
        <h1>Dashboard</h1>
    </header> 

    <section class="container dashboard-content">
        <article class="dashboard-post">
            <h2>Your Dashboard</h2>
            <p>Welcome to your personal dashboard. Here, you can manage your blog posts.</p>
            <ul>
                {{#each userPosts}}
                <li>{{title}} - {{content}}</li>
                {{/each}}
            </ul>
        </article>
    </section>

    <footer>
        &copy; 2023 CodeCanvas
    </footer>
</body>

</html>
